@media screen and (min-width:
1024px) {
.comeco
separacao
a

}

background {
	color: #FFFFFF; 
}
	
.img_fatec{ 
	position: absolute;
	width: 50px;
	height: 40px;
	left: 890px;
	top: 5px;

	background: url(logo fatec.png);
} 

.img_brasao{
	position: top, right;
	width: 400px;
	height: 150px;
	left: calc(50% - 450.04px/2 - 550.98px);
	top: calc(50% - 10px/2 - 250px);
	right: calc(50% - 50px/2 - 1850px);
	background: #FFFFFF;
	border-radius: 0px;
}

.img_fatec2{
	position: absolute;
	width: 1349px;
	height: 235px;
	left: 1px;
	top: 788px;

	background: url(image.png);
}

.comeco{
    float: left;
    position: relative;
    height: 50px;
    width: 25%;
    background-color: #B60909;
    display: flex;
    align-items: center;
    justify-content: center;
	text-decoration: none;
	color: #FFFFFF;
}

separacao{
	float: left;
	background-color: #B60909;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	height: 10px;
}

a{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
label{
	display: inline-block;
	width: 150px;
	text-align: center-right;
	line-height: 2;
	top: 20px;
	font-family:'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 60px;
	/* identical to box height */

	color: #000000;
}

h3{
	position: center-left; 
	width: 1350px;
	height: 58px;
	left: 481px;
	top: 386px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 80px;
	text-align: center;

	color: #000000;
	
}
select{
	background: #D9D9D9;
}

input{
	background: #D9D9D9;	
	
}

font{
	position: absolute;
	width: 307px;
	height: 51px;
	left: 1133px;
	top: 346px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	text-align: center;

	color: #000000;
}
