@media only screen and (max-device-width: 900px) {
    .avo { width:600px; }

body{
	background-image: url('img/fundo.jpg');
	margin: 0px;
}
.avo{
	float: left;
    position: relative;
    height: 200px;
    width: 50%;
    max-width: 1450px;
    background-color: rgb(125,125,243);
    text-align: center;
    display : flex;
    align-items: center;
    justify-content : center;
    }

input{
    border: none;
}
}