.@media screen and (min-width:
1024px) {
	
}


.background{
	color: #CBD1C1;
}
.box_email{
	position: absolute;
	width: 450px;
	height: 89px;
	left: 385px;
	top: 304px;

	background: #B60909;
	border-radius: 60px;
}

.box_senha{
	position: absolute;
	width: 450px;
	height: 89px;
	left: 385px;
	top: 455px;

	background: #B60909;
	border-radius: 60px;
}

.ENTRAR{ 
	position: absolute;
	width: 180px;
	height: 65px;
	left: 505px;
	top: 590px;

	background: rgba(182, 9, 9, 0.78);
	border-radius: 60px;
}

.img_fatec{ 
	position: absolute;
	width: 400px;
	height: 200px;
	left: 850px;
	top: 32px;

	background: url(logo fatec.png);
} 

.img_brasao{
	position: absolute;
	width: 400px;
	height: 200px;
	left: calc(50% - 450.04px/2 - 450.98px);
	top: calc(50% - 10px/2 - 300px);

	background: url(image.png);
	border-radius: 25px;
}

.img_fatec2{
	position: absolute;
	width: 1350px;
	height: 235px;
	left: 1px;
	top: 788px;

	background: url(image.png);
}

.p1{
	position: absolute;
	width: 238px;
	height: 20px;
	left: 440px;
	top: 312px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 09px;

	color: #FFFFFF;
}

.p2{
	position: absolute;
	width: 548px;
	height: 46px;
	left: 432px;
	top: 452px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 29px;

	color: #FFFFFF;
}

.p3{
	position: absolute;
	width: 131px;
	height: 39px;
	left: calc(50% - 131px/2 - 75.5px);
	top: calc(50% - 39px/2 + 265.5px);

	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;
	/* identical to box height */


	color: #FFFFFF;
}








