@media only screen and (max-device-width: 900px) {
    .titulo { width:600px; }
    .curso { width:600px; }
    .ancora { width:600px; }
    .chat { width:600px; }
    .entrar { width:600px; }
    .login { width:600px; }
    .input { width:600px; }
    .link { width:600px; }
    .link2 { width:600px; }
    .mapa { width:600px; }
    .separacao { width:600px; }
    .cab3 { width:600px; }
    .cab2 { width:600px; }
    .cab1 { width:600px; }
    #magin { width:600px; }
    .direito { width:600px; }
    .imagem { width:600px; }
    .centro { width:600px; }
    .sp { width:600px; }
    .fatec { width:600px; }
    .rodape { width:600px; }
    .detalhe { width:600px; }
    .cabeçario { width:600px; }
    .cab1 { width:600px; }
    .cab2 { width:600px; }
    .cab3 { width:600px; }
    .invisivel { width:600px; }
    .h1 { width:600px; }
    .header { width:600px; }

}

b{
    line-height: 30px;
}
p{
    padding: 10px;
}
body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #eceae7;    
    }

.titulo{
    float: left;
    height: 500px;
    width: 100%;
    max-width: 1450px;
    text-align: center;
    display : flex;
    align-items: center;
    justify-content : center;
    }

.curso{
    float: left;
    position: relative;
    height: 50px;
    width: 20%;
    background-color: #b00b18;
    border: 5px #b00b18;
    text-align: center;
    display : flex;
    align-items: center;
    justify-content : center;
    text-decoration: none;
    color: white;

    }

.ancora{
    text-align: center;
    margin: 0px;
    cursor: pointer;
    background-color: #b00b18;
    border-color: #b00b18;
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    height: 30px;
    size: 40pt;
    }

.login{
    background-image: url(img/fundo.jpg);
    background-size: 1380px;
}

.entrar{
    float: right;
    position: relative;
    border-radius: 10px;
    height: 400px;
    width: 500px;
    max-width: 1450px;
    position: sticky;
    margin-top: 100px; /* altura que está do topo */
    margin-right: 100px; /* distancia em que está da lateral*/
    margin-bottom: 100px;
    background-color: #d0d0d0;
    text-align: center;
    align-items: center;
    justify-content : center;
    }

.estilo{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    position: relative;
    height: 200px;
    width: 200px;
    position: sticky;
    background-color: #d0d0d0;
    text-align: center;
    align-items: center;
    justify-content : center;
}
.input{
    float: left;
    border: none;
    border-bottom: solid;
    border-color: grey;
    background-color: #d0d0d0;
    height: 30px;
    width: 300px;
    align-items: center;
    justify-content : center;
}
.link{
    float: left;
    height: 50px;
    width: 300px;
    color: #515151;
    text-align: center;
    text-decoration: none;
}
.link2{
    float: left;
    position: center;
    margin-top: 50px;
    height: 50px;
    width: 300px;
    color: darkblue;
    text-align: center;
    text-decoration: none;
}
.botão{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border-color: #515151;
    background-color: #A9A9A9;
    margin-left: 100px;
    height: 30px;
    width: 100px;
}
.logo{
    float: left;
    height: 110px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}
.mapa{
    height: 300px;
    width: 100%;
    padding: 0px;
}

.detalhe{
    color: #b00b18;
    padding-top: 0px;
    margin-top: 0px;
}

.rodape{
    background-color: #2e3e46;
    height: 250px;
    padding-bottom: 40px;
}

.fatec{
    float: left;
    margin-left: 15px;
    background-color: #2e3e46;
    width: 40%;
    color: white;
    padding-bottom: 40px;
    height: 250px;
}

.sp{
    float: left;
    background-color: #2e3e46;
    width: 30%;
    color: white;
    padding-bottom: 40px;
    height: 250px;
}

.centro{
    float: left;
    background-color: #2e3e46;
    width: 20%;
    color: white;
    padding-bottom: 40px;
    height: 250px;
}

.imagem{
    float: center;
    height: 200px;
    width: 400px;
    margin-top: 50px;
}

.direito{
    background-color: #151d20;
    width: 100%;
    color: white;
    text-align: center;
    height: 30px;
}
#magin{
    margin: 0px;
}

.cabeçario{
    float: left;
    width: 33%;
}
.cab1{
    float: left;
    height: 200px;
    padding: none;
}

.cab2{
    padding-left: 40px;
    padding-right: 40px;
    float: center;
    height: 200px;
    align-items: center;
    justify-content : center;
}

.cab3{
    height: 200px;
    float: right;
}

.separacao{
    float: left;
    background-color: #b00b18;
    width: 100%;
    color: white;
    text-align: center;
    height: 10px;
}

.paragrafo{
    float: left;
    font-weight: bolder;
    padding: 5px;
    margin: 0px;
}


.fundo{
    width: 50%;
    float: left;
    margin-left: 25%;
}
header{
    float: right;
    margin-top: 100px;
    margin-right: 10px;
}
.header{
    margin-top: 90px;
}
.h1{
    width: 100%;
    text-align: center;
    color: #151d20;
}
.invisivel{
    color: #eceae7;
}